# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/

# Android
android/.gradle/
android/local.properties
*.jks
*.keystore
key.properties

# Linux / IDE
linux/flutter/ephemeral/
.idea/
.vscode/
*.iml

# Generated runtime data
*.log
*.pid
.env
